@import '../../../../styles/main.scss';

.button {
	@extend %button-common;
	width: 100px;
	height: 50px;
	align-self: flex-start;
}

.red {
	background-color: red;
}

.green {
	background-color: #0bba48;
}