@import '../../styles/main.scss';

.wrapper {
	display: grid;
	grid-template-rows: 10vh 90vh;
	grid-template-columns: 10% 20% 70%;
	grid-template-areas: 
	'logo search chart'
	'sidebar list chart'
}

.logo {
	grid-area: logo;
	background-color: #0bba48;
	display: flex;
	align-items: center;
	justify-content : center;
}

.sidebar {
	grid-area: sidebar;
	background-color: $background-color;
	border-right: $border;
}

.search {
	grid-area: search;
	background-color: $background-color;
	padding: 10px;
	border-bottom: $border;
}

.list {
	grid-area: list;
	background-color: $background-color;
}

.chart {
	grid-area: chart;
	height: 100vh;
	background-color: $second-color;
}

.button{
	grid-area: button;
}