//colors
$background-color: #efefef;
$second-color: white;

//buttons
$sell-button-color: red;
$buy-button-color: #0bba48;
$border-radius: 5px;

//borders
$border: 1px solid grey;

//font
$main-font: Comic Sans MS;