@import './styles/main.scss'; 

*{
  font-family: $main-font;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  width: 100%;
}