@import '../../../styles/main.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.chart {
	height: 100vh;
}

.button {
	align-self: flex-end;
	margin: 50px 50px 0 0;
}

.message {
  border-radius: $border-radius*10;
  text-align: center;
  border: 1px solid $buy-button-color;
  display:block;
  width:300px;
  margin: 300px auto;
  padding: 50px;
  font-size: 25px;
}